
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="http://121.199.21.180/love/css/page-style.css">
</head>
<body>
  <a class="link" href="http://121.199.21.180/love/page">下一页</a>
  <div class="book preserve-3d">

    <div class="book-page-box">
      <div class="book-page">
        <p>百花牵衣吐艳</p>
      </div>  
    </div>

    <div class="flip-animation-3 point">
      <div class="book-page">
        <p>情如茧凝成缘</p>
      </div>
    </div>

    <div class="flip-animation-2 point">
      <div class="book-page">
        <p>梦随风醉缠绵</p>
      </div>
    </div>

    <div class="flip-animation-1 point">
      <div class="book-page first-page">
        <p>My <br>Love YangYu</p>
      </div>
    </div>

  </div>
</body>
</html>

